<div>
    <header class="header">
    <div class="main-menu-link">{{ mainmenu | translate }}</div>
    <div class="sub-menu-title">{{ submenu_title }}</div>
    </header>

    <div class="submenu-group">
        <div ng-repeat="menu in vm.subMenus" class="submenu">
            <button onclick="submenuClick(this)" id="{{menu.menucodestr}}" class="{{menu.classname}}"><span class="{{menu.menuicon}}">  </span> {{ menu.menutitle }} </button>
        </div>
        <div ng-repeat="listelem in vm.subListMenus" class="submenu">
            <button onclick="submenuClick(this)" id="{{listelem.menucodestr}}" class="{{listelem.classname}}"><span class="{{listelem.menuicon}}">  </span> {{ listelem.menutitle }} </button>
        </div>
    </div>
</div>