<div class="mainmenu-group">
    <div ng-repeat="menu in mainMenus" class="mainmenu">
        <button onclick="menuClick(this)" id="{{menu.menucodestr}}" class="{{menu.classname}}""><span class="{{menu.menuicon}}">  </span> {{ menu.menutitle }} </button>
    </div>
</div>