﻿* {
  box-sizing: border-box;
}
a {
    
    cursor: pointer;
}

.mainmenu-group {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
}

.mainmenu {
    width: 200px;
    height: 200px;
    
    margin: 10px;
    box-shadow: 10px 10px 10px #444;
    
}

.mainmenu>button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    
    color: #FFF;
    
    border: none;
}

.lightblue {
    background-color:cornflowerblue;
}

.sunyellow {
    background-color: #E87E04;
}

.grassgreen {
     background-color: #2ECC71;
}

.purple {
    background-color:#8E44AD;
}

.grey {
      background-color: #95A5A6
}

.berryred {
      background-color:#DB0A5B;
}

.golden {
     background-color: #F89406;
}

.turquoise {
     background-color: #4ECDC4;
}

.skyblue {
     background-color: #19B5FE;
}
