﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>{{ WELCOME_MESSAGE | translate }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    
    <div>
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        <div ng-view></div>
    </div>
    
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
    <script src="bower-angular-translate-2.15.2/angular-translate.min.js"></script>
    <script src="bower-angular-translate-2.15.2/angular-translate-storage-local.min.js"></script>
    <script src="bower-angular-translate-2.15.2/angular-translate-storage-cookie.min.js"></script>
    <script src="bower-angular-translate-2.15.2/angular-translate-loader-static-files.min.js"></script>
    <script src="bower-angular-translate-2.15.2/angular-translate-handler-log.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="js/sha1.js"></script>

    <!-- Real user service that uses an api -->
    <!-- <script src="app-services/user.service.js"></script> -->

    <!-- Fake user service for demo that uses local storage -->
    <script src="app-services/user.service.local-storage.js"></script>

    <script src="home/home.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="app-services/http.async.service.js"></script>
    <script src="menu/mainmenu/mainmenu.controller.js"></script>
   
    
</body>
</html>